<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>Please click on the following link to reset your password</p>
    <div><%= new_pass_form_api_user_url(@user.reset_password_token) %></div>
    <p>If you didn't initiate a password reset then ignore this email 
        and your password will stay the same</p>
  </body>
</html>