<% if @link_valid %>
  <div class="u-horizontally-center-text u-large-margin-top">
    <div class="session__form-container">
      <div class="session__form-box">
          <h1>AppName Password Reset</h1>
          <% if flash[:errors] %>
              <ul style="color:orange;">
                  <% flash[:errors].each do |err| %>
                      <li> <%= err %> </li>
                  <% end %>    
              </ul>
          <% end %>
        <form action="/api/passwords/<%=params[:id]%>/reset" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <label for="password">
                Enter new password:
                <br>
                <input type="password" name="password" class="session__textbox">
                <br>
            </label>
            <input type="submit" class="session__btn--submit" value="submit change">
        </form>
      </div>
    </div>
  </div>
<% else %>
  <div class="u-horizontally-center-text u-large-margin-top">
      <h1>
          Link not valid or expired. Try generating a new link.
      </h1>
      <p class="home-link">
          Go to home page
      </p>
  </div>
<% end %>